.binLink{
  text-decoration: none;
  position: relative;
  width: auto;
}
.bintop{
  width: 100%;
  height: 25px;
}
.bintop-Y{
  width: 25%;
  height: 25px;
  margin-top: 2x;
}
.binVertical__A{
  width: 87%;
  height: 100px;
  margin-top: 30px;
}
.binVertical__B{
  width: 30px;
  height: 54px;
  margin-top: 10px;
}

.binnumber{
  margin: 0 auto;
  position: absolute;
  left:35%;
  top: 3px;
  font-size: 16px;
  font-weight: 700;
  color: black;
}
.binnumber-Y{
  margin: -10px auto;
  position: absolute;
  left: 38%;
  top: 4px;
  font-size: 16px;
  font-weight: 800;
  color: black;
}

.binnumber-Z{
  margin: -10px auto;
  position: absolute;
  left: 38%;
  top: 4px;
  font-size: 16px;
  font-weight: 800;
  color: black;
}

.binnumberVertical-A{
  margin: 0 auto;
  position: absolute;
  left: 16%;
  top: 50%;
  font-size: 16px;
  font-weight: 800;
  color: black;
}
.binnumberVertical-B{
  margin: 0 auto;
  position: absolute;
  left: 17%;
  top: 35%;
  font-size: 16px;
  font-weight: 800;
  color: black;
}

@media screen and (max-width: 694px){
.binLink{
  text-decoration: none;
  position: relative;
  width: auto;
}
.bintop{
  width: 100%;
  height: 25px;
}
.bintop-Y{
  width: 25%;
  height: 25px;
  margin-top: 2x;
}
.binVertical__A{
  width: 87%;
  height: 100px;
  margin-top: 30px;
}
.binVertical__B{
  width: 30px;
  height: 54px;
  margin-top: 10px;
}

.binnumber{
  margin: 0 auto;
  position: absolute;
  left:22%;
  top: 3px;
  font-size: 16px;
  font-weight: 700;
  color: black;
}
.binnumber-Y{
  margin: -10px auto;
  position: absolute;
  left: 20%;
  top: 4px;
  font-size: 16px;
  font-weight: 800;
  color: black;
}

.binnumber-Z{
  margin: -10px auto;
  position: absolute;
  left: 38%;
  top: 4px;
  font-size: 16px;
  font-weight: 800;
  color: black;
}

.binnumberVertical-A{
  margin: 0 auto;
  position: absolute;
  left: 8%;
  top: 50%;
  font-size: 16px;
  font-weight: 800;
  color: black;
}
.binnumberVertical-B{
  margin: 0 auto;
  position: absolute;
  left: 13%;
  top: 35%;
  font-size: 16px;
  font-weight: 800;
  color: black;
}
}

@media screen and (max-width: 414px){
.binLink{
  text-decoration: none;
  position: relative;
  width: auto;
}
.bintop{
  width: 100%;
  height: 25px;
}
.bintop-Y{
  width: 25%;
  height: 25px;
}
.binVertical__A{
  width: 90%;
  height: 100px;
  margin-top: 30px;
}
.binVertical__B{
  width: 30px;
  height: 55px;
  margin-top: 7px;
}

.binnumber{
  margin: 0 auto;
  position: absolute;
  left:21%;
  top: 2px;
  font-size: 14px;
  font-weight: 700;
  color: black;
}
.binnumber-Y{
  margin: -10px auto;
  position: absolute;
  left: 30%;
  top: 4px;
  font-size: 14px;
  font-weight: 800;
  color: black;
}

.binnumber-Z{
  margin: -10px auto;
  position: absolute;
  left: 30%;
  top: 4px;
  font-size: 14px;
  font-weight: 800;
  color: black;
}

.binnumberVertical-A{
  margin: 0 auto;
  position: absolute;
  left: 16%;
  top: 50%;
  font-size: 14px;
  font-weight: 800;
  color: black;
}
.binnumberVertical-B{
  margin: 0 auto;
  position: absolute;
  left: 17%;
  top: 35%;
  font-size: 14px;
  font-weight: 800;
  color: black;
}
}