@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap);

$theme-font: 'Roboto', sans-serif;
$main-color: #0880AE;
$main2-color: #334a70;
$main3-color: #7C9CBF;
$main4-color: #FFFFFF;
$secondary-color: #2C2738;
$secondary2-color: #756F86;
$secondary3-color: #7651A1;
$shade-color: #DBE2EA;
$tint-color: #EBF4F8;

$other-color: #F2AC57;
$other2-color: #FF7171;
$other3-color: #fcd64d;
$other4-color: #14A38D;
$other5-color: #51b3a9;
$other6-color: #4BB74D;
$other7-color: #c0c0c0;


